@import "../node_modules/bootstrap/scss/functions";
@import "variables";
html {
  scroll-behavior: smooth;
}

body {
  background-color: $gray-900;
  @media screen and (min-width: 3000px) {
    font-size:2rem;
    a.navbar-brand {
      font-size:2.5rem;
    }
  }
}

//Navbar Styling
i.fa-github {
  color: $gray-100;
  font-size: 1.5rem;
}
//ipad has 768px width, so navigation doesn't collapse and with current background all text is visible
@media screen and (max-width:767px) {
  nav.navbar-expand-md {
    background-color:$black;
  }
}

//On scrolling downward change navigation navbar background color
.bg-black {
  background-color: $black;
  transition: background-color 500ms linear;
}
//End Navbar Styling

//General section styles
section {
  min-height: 70vh;
  background-color:$gray-100;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 10% 20px 10%;
  font-size:1.1rem;
  @media screen and (min-width:3000px) {
    font-size:2rem;
  }
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
  }
  hr {
    width: 70%;
    height: 0.5px;
    color: $black;
  }
  i {
    font-size: 7rem;
    color: $gray-700;
  }
  #computer {
    padding-top: 3rem;
  }
  #medal {
    padding-top: 1rem;
  }
  #book {
    padding-top: 2rem;
  }
  #chalkboard {
    padding-top: 2rem;
  }
  span { 
    font-weight: 700;
    font-size: 1.5rem;
    color: $gray-700;
    @media screen and (min-width:3000px) {
      font-size:2.5rem;
    }
    @media screen and (max-width:768px) {
      font-size: 1.2rem;
    }
    p {
      font-family: Lato;
      font-weight:300;
    }
  }
  #about {
    padding-top:90px;
  }
}

//Homepage Cover
section.cover {
  height:100vh;
  background: url("../assets/work-1920x1280.jpg") no-repeat center center fixed;
  background-size: cover;
  h1 h5 {
    font-family: Lato;
    font-weight:300;
  }
  i {
    color: $gray-100;
  }
  @media screen and (max-width:600px) {
    background:url("../assets/work-1920x1280.jpg") no-repeat center right fixed;
    background-size: cover;
  }
}

//Homepage Overlay
div.overlay {
  height:100%;
  padding-top:40vh;
  color: $gray-100;
  text-shadow: 0px 0px 4px $gray-900;
  letter-spacing: 2px;
  @media screen and (max-width: 600px) {
    padding-top:30vh;
  }
  @media screen and (max-height: 600px) {
    padding-top: 25vh;
  }
  
  hr { 
    width:40vw;
    background-color: $gray-600;
    height: 0.5px;
    @media screen and (max-width: 600px) {
      width:70vw;
      height: 0.4px;
    }
  }
  .down-arrow {
    font-size:36pt;
    margin-top: 20vh;
    text-shadow: none;
    @media screen and (max-height: 400px) {
      margin-top: 7vh;
    }
    @media screen and (max-height: 600px) {
      margin-top: 7vh;
    }
  }
}

//Banner for all pages except homepage
section.banner {
  background: url("../assets/work-banner.jpg") no-repeat top center fixed;
  background-size: auto;
  min-height: 25vh;
  @media screen and (min-width:3000px) {
    background-size:cover;
  }
  @media screen and (max-width:500px) {
    background: url("../assets/work-banner-mobile-vertical.jpg") no-repeat;
    background-size:100% 100%;
  }
}

//web.html styles
.webRow {
  margin-bottom: 30px;
}
//english.html styles
.englishRow {
  margin-bottom: 20px;
}

//When clicking to go to an anchor link, prevent navigation bar from obscuring the top of the section.
:target::before {
  content: "";
  display: block;
  height: 56px; /* fixed header height*/
  margin: -56px 0 0; /* negative fixed header height */
}

//Animations
@keyframes webIcons {
  0% {opacity:0; margin-left: -200px; }
  100% {opacity: 1; margin-left: 0;}
}
.iconAnimation {
  animation-name: webIcons;
  animation-duration: 2s;
  animation-direction: linear;
  animation-iteration-count: 1;
}
.iconAnimation2 {
  animation-name: webIcons;
  animation-duration: 2.5s;
  animation-direction: linear;
  animation-iteration-count: 1;
}
.iconAnimation3 {
  animation-name: webIcons;
  animation-duration: 3s;
  animation-direction: linear;
  animation-iteration-count: 1;
}
@keyframes textDisplay {
  0% {opacity: 0; margin-top:300px;}
  100% {opacity: 1; margin-top: 0;}
}
.textAnimation {
  animation-name: textDisplay;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

//Footer
footer {
  min-height:5vh;
  padding-top:1vh;
  padding-bottom:1vh;
  text-align:center;
  background-color: $black;
  color:$gray-100;
  font-family: Lato;
  font-weight: 300;
  a {
    color: $gray-200;
    text-decoration:underline;
  }
  a:hover {
    color:$gray-600;
  }
}
